[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "*"
chardet = "*"
click = "*"
flask-redis = "*"
flask-sqlalchemy = "*"
idna = "*"
itsdangerous = "*"
qcloudsms-py = "*"
redis = "*"
requests = "*"
urllib3 = "*"
Flask = "*"
Flask-HTTPAuth = "*"
Flask-JWT = "*"
Flask-Script = "*"
Jinja2 = "*"
MarkupSafe = "*"
PyJWT = "*"
PyMySQL = "*"
SQLAlchemy = "*"
Werkzeug = "*"

[requires]
python_version = "3.7"
